:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.home-area {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 650px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#370b6f),
    color-stop(#00429b),
    color-stop(#006dba),
    color-stop(#0095ce),
    to(#2dbcdc)
  );
  background: linear-gradient(
    to bottom,
    #370b6f,
    #00429b,
    #006dba,
    #0095ce,
    #2dbcdc
  );
  height: 90vh;
  /* width: 100vw; */
}
/* waves */
/* first wave */
.custom-shape-divider-bottom-1640966291 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640966291 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 138px;
}

.custom-shape-divider-bottom-1640966291 .shape-fill {
  fill: #ffffff;
}
/* second wave */
.custom-shape-divider-bottom-1640970012 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640970012 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1640970012 .shape-fill {
  fill: #ffffff;
}
/* cards */

.box {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  box-shadow: 0 1.5em 2.5em -0.5em rgb(0 0 0 / 10%);
  padding: 30px;
  margin: 20px;
  background-color: white;
}

img {
  float: right;
  width: 22%;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
  }
  .box {
    width: 23%;
    height: max-content;
  }
  .header p {
    width: 30%;
  }
}

