.logo {
  width: 80px;
  height: 80px;
  margin-right: -23px;
  margin-bottom: -9px;
  transition: 0.15s ease-in-out;
}

.logo:hover {
  padding: 6px;
}

.navbar-collapse {
  margin: 13px 10px;
}

.nav-item {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 30px;
}

.nav-link:hover {
  color: #3015ff !important;
}
